# ============================================================
#  本地账号配置（含隐私，切勿提交到公开仓库）
# ============================================================
drcom.conf
drcom.conf.local
*.conf.local

# ============================================================
#  编译产物
# ============================================================
build/
*.o
*.obj
*.exe
*.res
*.pdb
*.ilk

# ============================================================
#  编辑器 / IDE / 开发环境
# ============================================================
.vscode/
.idea/
*.user
*.su
*.code-workspace

# ============================================================
#  系统文件
# ============================================================
Thumbs.db
desktop.ini
.DS_Store
